nav > a {
  padding: 9px;
  border: 6px solid #00bfff00;
  border-radius: 1px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
nav {
  background-color: rgb(171, 170, 170);
  padding: 9px;
  border: 6px solid #00bfff00;
  border-radius: 99px;
}
body {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;
  font-style: italic;
  font-size: large;
}

h1 {
  text-decoration: underline;
}
.align {
  text-align: center;
}
h2 {
  text-decoration: underline;
}
table {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 20px;
}
.size {
  font-size: xx-large;
}
.styled-img {
  border: 5px solid #a9a9a9; /* bordure bleue */
  border-radius: 15px; /* coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* ombre élégante */
  padding: 5px; /* petit espace entre l’image et la bordure */
}
.styled-frame {
  border: 4px solid #a9a9a9; /* bordure orange */
  border-radius: 12px; /* coins arrondis */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* effet d’ombre */
  width: 560px;
  height: 315px;
}
