main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.violet {
  background-color: #bebaff;
}
body {
  margin: 0px;
  padding: 0px;
}
nav {
  background-color: #dcdcdc;
  padding: 15px 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;
}
