.hero {
  background: url("images/hero.jpg") center/cover no-repeat;
  height: 90vh;
}

.hero h1 {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

footer i {
  font-size: 1.2rem;
  cursor: pointer;
}
button {
  background-color: rgb(9, 99, 9);
}
#logo {
  width: 57px;
  height: 50px;
}
.container_contact {
  border-radius: 22px;
  color: #343a40;
  background-color: #ffc10754;
  border: 0px solid;
}
#inpt {
  background-color: #fff3cd;
  color: #333;
  border: 2px solid #fff3cd;
  border-radius: 10px;
  padding: 11px;
}
#inpt:focus {
  background-color: #e6f7ff;
  border-color: #f5ffbe;
  outline: none;
}
